* {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 40px;
	max-width: 1000px;
	text-align: center;
	margin: 0 auto;
}

a {
	color: #333333;
}

i {
	display: block;
	color:#555555;
	font-size: 14px;
}

.nodeco { text-decoration: none; }

.image-holder {
	width: 642px;
	height: 531px;
	background: url('./cloak.PNG') no-repeat;
	background-position-x: left;
	background-position-y: center;
	float: left;
}

.wrapper{
	width: 358px;
	float: right;
}

.info {
	text-align: center;
}

.title {
	font-size: 32px;
}

.subtitle {
	font-size: 24px;
}

.requires {
	padding-top: 10px;
	display: block;
	color: #333333;
	font-size: 14px;
}

.date {
	padding-top: 10px;
	display: block;
	font-weight: bold;
	font-size: 14px;
}

.log {
	display: block;
	font-size: 14px;
}

.download {
	display: block;
	font-size: 24px;
	border: 1px solid #777777;
	border-radius: 5px;
	padding: 3px 8px;
	width: 126px;
	margin: 14px auto 0;
}

.howto {
	border-top: 1px solid #aaaaaa;
	margin-top: 20px;
	padding-top: 10px;
}

.footer {
	margin-top: 20px;
}